
li{
    list-style-type: none;  
    margin: 0 2vw;
    /* our font-size will be 3% of the height of the viewport */
    font-size: 3vh;
  }

  a{
    text-decoration: none;
    
    /*below I changed the color*/
    color: black;
    /*I added some padding*/
    padding: 2vw;
    /*also changed the font family but that's totally irrelevant*/
    font-family: monospace;
  }

  a:hover{
    background-color: #C6E9FF;
  }

  nav{
    width: 100vw;
    background-color: #D6EFFF;
  }

  ul{
    margin: 0;
    padding: 0;
    
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
  }
  
  body{
    margin: 0;
  }

  .container{
    height: 100%;
    margin-top: 20px;
  }